body {
  margin: 0;
  font-family: Roboto;
}

.header,
.copyright {
  align-items: center;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 8px 64px;
}

.hero {
  align-items: center;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 80px 64px;
  gap: 48px;
}

.logo,
.copyright .text {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

p,
button,
.links {
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  display: flex;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px 32px;
  border: none;
  width: 160px;
  height: 48px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.hero img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

.information {
  text-align: center;
  padding: 80px 64px 96px;
}
h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 0 0 48px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info-box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  padding: 80px 64px;
  flex-direction: column;
  gap: 8px;
}

.quote {
  margin: 0;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.author {
  margin: 0;
  color: #1f2937;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.cta-section {
  padding: 80px 64px;
}

.call-to-action {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 96px;
  color: #f9faf8;
  border-radius: 6px;
}

#secondary-button {
  border: 2px solid #f9faf8;
  border-radius: 16px;
}

.cta-text {
  margin: 0;
  gap: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
