body {
  margin: 0;
  font-family: Roboto;
}

.header {
  align-items: center;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 8px 64px;
}

.hero {
  align-items: center;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 80px 64px;
  gap: 48px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

p,
button,
.links {
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  display: flex;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  align-self: flex-start;
}

.left-hero {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
